<h2>Show Note</h2>

<ul>

  <li>
    <strong>Contents:</strong>
    <%= @note.contents %>
  </li>

  <li>
    <strong>Color:</strong>
    <%= @note.color %>
  </li>

</ul>

<span><%= link "Edit", to: note_path(@conn, :edit, @note) %></span>
<span><%= link "Back", to: note_path(@conn, :index) %></span>
